@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Pacifico&family=Scheherazade+New:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/*Characters*/

.root {
  position: absolute;
}

#jsCharacter {
  position: absolute;
  transform-origin: 50px 5px;
  transition: transform 1s ease-in-out 0s;
  animation-duration: 1s;
  animation-name: defaultKarakterMove;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  display: none;
}

.bugs {
  animation-name: defaultEnemiesMove;
  transform-origin: 50px 5px;
  animation-duration: 0.1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

/*Characters end*/

/*All Sections*/

.start-screen,
.section-1,
.section-2,
.section-3,
.last-section {
  height: 54rem;
}
/*All Sections end*/

/*Start Screen*/

.start-screen {

  text-align: center;
  background-color: rgb(221, 200, 82) !important;
}

.about-game,
.start-game,
.by-who {
  position: relative;
}

.about-game {
  font-weight: 600;
  font-size: 1.2rem;
  color: black;
  font-family: "Architects Daughter", cursive;
  top: 1rem;
}

.game-name {
  font-size: 4rem;
  font-family: "Pacifico", cursive;
  padding: 3rem;
  color: black;
}

.how-to-play {
  letter-spacing: 0.5rem;
  font-size: 2rem;
  font-family: "Pacifico", cursive;
  padding-top: 6rem;
  color: black;
}

.play-like .list-group-item {
  background: none !important;
  border: none;
  font-weight: 600;
}

.press-f11 {
  animation-name: pressf11;
  animation-duration: 1s;
  animation-iteration-count: 30;
  animation-direction: alternate;
}

.start-game {
  color: black !important;
  text-decoration: none;
  background-color: rgb(45, 99, 161) !important;
  border-radius: none !important;
  font-size: 1.4rem;
  letter-spacing: 0.2rem;
  font-weight: 700;
  padding-left: 4rem;
  padding-right: 4rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0px 2px 20px rgb(45, 5, 71);
  top: 10rem;
}
.start-game:hover {
  background-color: aqua !important;
  color: rgb(216, 48, 216) !important;
  box-shadow: 0px 2px 60px rgb(157, 67, 241);
}

.by-who {
  color: black;
  font-weight: 500;
  top: 21rem;
}

/*Start Screen end*/

/*Section 1*/

.section-1 {
  background: url("../../assets/img/brain.svg") no-repeat center center
    fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: rgb(0, 0, 0);
  color: wheat;
  overflow: hidden;
}

.section-1 img,
.section-1 p {
  position: relative;

  color: black;
}

.section-1 p {
  background-color: rgba(255, 255, 255, 0.9);
}

.section-1-first p {
  top: 5rem;
  right: -7rem;
  font-size: 2rem;
  transform: rotate(5deg);
  box-shadow: 10px 20px 30px rgb(0, 0, 0);
}

.section-1-first img {
  transform: rotate(20deg);
  width: 30rem;
  top: 16rem;
}

.section-1-third img {
  transform: rotate(-20deg);
  width: 30rem;
  top: -1rem;
  right: -5rem;
}

.section-1-third p {
  left: -4rem;
  top: 4rem;
  font-size: 2rem;
  transform: rotate(-9deg);
  box-shadow: 10px 20px 30px rgb(0, 0, 0);
}

/*Section 1 end*/

/*Section 2 */

.section-2 {
  background: url("../../assets/img/OrangeCity.svg") no-repeat center center
    fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: rgb(0, 0, 0);
  color: wheat;

  overflow: hidden;

}

.friend-1,
.friend-2,
.friend-3,
.friend-4,
.friend-5 {
  width: 7rem;
  position: absolute;
  border-bottom: 3px solid rgba(0, 0, 0, 0.8);
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.master {
  width: 8rem;
  position: absolute;
  top: 20rem;
  border-bottom: 3px solid rgba(0, 0, 0, 0.8);

  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-name: master;
  animation-duration: 1s;
  left: 65rem;
}

.friend-1 {
  top: 1rem;
  animation-name: friend1;
  animation-duration: 5s;
}

.friend-2 {
  animation-name: friend2;
  animation-duration: 10s;
}

.friend-3 {
  animation-name: friend3;
  animation-duration: 10s;
  left: 20rem;
}

.friend-4 {
  animation-name: friend4;
  animation-duration: 17s;
  left: 70rem;
}

.friend-5 {
  animation-name: friend5;
  animation-duration: 10s;
  top: 45rem;
}

.hint-1 {
  color: black;
  font-weight: 600;
  font-size: 1.5rem;
}

.talk-to-master {
  position: absolute;
  top: 20rem;
  left: 55rem;
}

.talks,
.talks-2 {
  position: absolute;
  z-index: 100;
  top: 14rem;
  left: 30rem;
  font-size: 1.4rem;
  color: rgb(53, 5, 49);
  font-weight: 700;
  font-family: "Libre Baskerville", serif;
}

.talks-2 {
  left: 67rem;
}
.talks-button {
  position: absolute;
  top: 14rem;
  left: 57rem;
}
.talks-2-button {
  position: absolute;
  top: 14rem;
  left: 65rem;
}
.talks-button,
.talks-2-button {
  background: none;
  border: none;
  font-size: 1.3rem;
}
/*Section 2 */

/*Section-3*/

.section-3 {
  background: url("../../assets/img/night-section.svg") no-repeat center
    center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  color: aliceblue !important;
  display: none;
}

.section-3 img {
  width: 3rem;
  animation-name: bugMoves;
  animation-iteration-count: infinite;
  animation-duration: 0.7s;
  position: absolute;
}

.bug-1 {
  left: 30rem;
  top: 45rem;
}
.bug-2 {
  left: 78rem;
  top: 5rem;
}
.bug-3 {
  bottom: 10rem;
  right: 5rem;
}
.bug-4 {
  bottom: 40rem;
  left: 50rem;
}
.bug-5 {
  left: 20rem;
  top: 30rem;
}
.bug-6 {
  right: 30rem;
  bottom: 12rem;
}
.bug-7 {
  top: 5rem;
  left: 5rem;
}
/*Section-3*/

/*Last Section*/

.last-section {
  display: none;

  background: url("../../assets/img/desert.svg") no-repeat center
    center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.last-section p:nth-child(1) {
  font-size: 4rem;
  font-family: "Pacifico", cursive;
  padding: 3rem;
  color: rgb(0, 0, 0);
}
.last-section p:nth-child(2) {
  padding-top: 10rem;
  padding-bottom: 20rem;
}
.last-section p:nth-child(2) a {
  text-decoration: none;
  background-color: rgb(214, 236, 87) !important;
  border-radius: none !important;
  font-size: 1.4rem;
  letter-spacing: 0.2rem;
  font-weight: 700;
  padding-left: 4rem;
  padding-right: 4rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0px 2px 20px rgb(45, 5, 71);
  top: 10rem;
}
.last-section p:nth-child(2) a:hover {
  background-color: aqua !important;
  color: rgb(3, 20, 20) !important;
  box-shadow: 0px 2px 60px rgb(173, 131, 230);
}


.linkedin img,
.github img{
  height: 5rem;
  display: block;
}
/*Last Section end*/


/*KEYFRAMES - ANİMATİONS*/
@keyframes friend1 {
  0% {
    opacity: 0.9;
    left: 10rem;
    transform: rotate(-10deg);
  }

  50% {
    transform: rotate(10deg);
  }

  100% {
    opacity: 1;
    left: 60rem;
  }
}

@keyframes friend2 {
  0% {
    top: 30rem;
    width: 10rem;
    transform: rotate(-2deg);
  }

  100% {
    top: 45rem;
    transform: rotate(2deg);
  }
}

@keyframes friend3 {
  0% {
    top: 2rem;
    transform: rotate(-2deg);
  }

  100% {
    left: 45rem;
    top: 45rem;
    transform: rotate(2deg);
  }
}

@keyframes friend4 {
  0% {
    top: 2rem;
    transform: rotate(-2deg);
  }

  100% {
    top: 45rem;
    transform: rotate(2deg);
    width: 3rem;
  }
}

@keyframes friend5 {
  0% {
    left: 60rem;
    top: 40rem;
    width: 10rem;
    transform: rotate(30deg);
  }

  100% {
    left: 20rem;
    width: 4rem;
    transform: rotate(-10deg);
  }
}

@keyframes master {
  0% {
    width: 10rem;
  }

  100% {
    width: 11rem;
  }
}

@keyframes defaultKarakterMove {
  0% {
    width: 10rem;
    transform: rotate(-1deg);
  }

  100% {
    width: 11rem;
    transform: rotate(0deg);
  }
}

@keyframes pressf11 {
  0% {
    color: rgb(255, 255, 255);
  }

  100% {
    color: rgb(145, 8, 61);
  }
}

@keyframes bugMoves {
  0% {
    box-shadow: 0px 2px 40px rgb(255, 0, 0);
  }
  100% {
    box-shadow: none;
  }
}
/*KEYFRAMES - ANİMATİONS END*/

/*MEDİA */

@media (min-width: 1700px) {
  .start-screen,
  .section-1,
  .section-2,
  .section-3,
  .last-section {
    height: 94rem;
  }
}

/*MEDİA END*/
